/*
a título de ficar claro para mim mesmo enquanto eu fazia 
e também para eu estudar depois,
busquei sempre que aparecia uma propriedade nova
deixar algum cometário breve explicanddo-a 
-- a maioria das explicações foi extraída de 'MDN Web Docs'
*/
* 
{
  /* altura e largura incluem padding e border. */
  box-sizing: border-box;
  /* reduz a margem de todos os elementos a zero */
  margin: 0;
}

html, body 
{
  /* altura */
  height: 100%;
}

h1
{
  /* alinhamento horizontal do texto conteudo de h1 */
  text-align: center;
  /* cor do título  */
  color: burlywood;
  /* cor de fundo */
  background-color: brown;
}

#jogo 
{
  height: 100%;
  width: 100%;

}

.terreno 
{
  /* display de grade aplicado  */
  display: grid;
  background-color: green;
  /*  divide em 12 colunas de tamanho igual */
  grid-template-columns: repeat(12, 1fr);
  /* divide em 12 linhas de tamanho igual  */
  grid-template-rows: repeat(12, 1fr);
  /* largura */
  width: 100%;
  height: 80%;
}

.barraAtividades 
{
  /*The element is removed from the normal document flow, and no space is created for the element in the page layout.  */
  position: absolute;
  /* the final position is determined by the value of bottom */
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: greenyellow;
  /* No modelo de layout do Flexbox, os filhos de um contêiner flex podem ser dispostos em qualquer direção,
  e podem "flexibilizar" seus tamanhos, crescendo para preencher o espaço vazio ou diminuindo
  para evitar o transbordamento do elemento pai */
  display: flex;
  /* defines how the browser distributes space between and around content items along the main axis of a flex container,
   neste caso distribui de forma uniforme */
  justify-content: space-around;
  /*align-items property sets the align-self value on all direct children as a group.
  In flexbox, it controls the alignment of items on the cross axis. 
  neste caso centraliza sobre a linha do eixo */
  align-items: center;
}

.slot 
{
  background-color: green;
  /* posiciona segundo o fluxo normal por ora */
  position: relative;
}

.slot[estado="vazio"] 
{
  background-color: green; 
}


.slot[estado="arado"] 
{
  background-color:black; 
}

.slot[estado="plantado"] 
{
  background-color: goldenrod; 
}

.slot[estado="pedra"] 
{
  background-color: grey; 
}

.slot[estado="ervaDaninha"]
{
  background-color: lightgreen; 
}

.slot[planta = "batata"]
{
  background-color: white;
  background-size: cover;
}

.slot[planta = "cenoura"]
{
  background-color: orange;
  background-size: cover;
}

.slot[planta = "tomate"] 
{
  background-color: red;
  background-size: cover;
}

.slot[controleTempo = "false"]
{
  background-color: aqua;
}

.barraStatus
{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: blueviolet;
  justify-content: center;
  align-items: center;
  width: 10%;
}

#tempoExibidor
{
  height: 27.5px;
  background-color: aquamarine;
  width: 100%;
  text-align: center;
}
#tempoBotao
{
  height: 27.5px;
  width: 100%;
  background-color: aquamarine;
  
}


.barraFerramentas 
{

  display: flex;
  height: 100%;
  background-color: lightsalmon;
  /* O eixo principal do flex container é definido para ser o mesmo que a direção do texto.
  Os pontos de início e término principais são iguais à direção do conteúdo. */
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.silo
{
  background-color: brown;
  height: 100%;
  width: 32%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.siloEstoque
{
  height: 100%;
  display: 20%;
  flex-direction: row;
  background-color: blue;
}

.ferramenta
{
  color: whitesmoke;
  background-color: red;
  /* O espaçamento interno do botão para o texto n ficar apertado */
  padding: 10px;
  /* A borda do botão */
  border: none;
  /* Arredonda*/
  border-radius: 50px;
}
.ferramentaCont
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ferramentaImag
{
  width: 30px;
  height: 30px;
}

/*seleciona o img filho de .dinheiro*/
.dinheiro img
{
  width: 20px;
  height: 20px;

}
.dinheiro div 
{
  width: 50px;
  padding: 5px;
  text-align: center;
}


.semente
{
  background-color: brown;
  height: 100% ;
  width: auto;
  color: whitesmoke;
  /* organiza os cojuntos botao/exibidor/comprar */
  justify-content: space-around;
  /*centraliza o numero*/
  align-items: center;
  display: flex;
  flex-direction: column;

}

.botaoSemente
{
  background-color: red;
  border-radius: 50px;
  padding: 10px;
  border: none;
}

.botaoExibidor
{
  background-color: aquamarine;
}


.selecionado
{
  color: whitesmoke;
  background-color: green;
  padding: 10px;
  border: none;
  border-radius: 50px;
}

.tempo
{
  
  background-color: cyan;
  width: 100%;
  

}

.dinheiro
{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

